<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-white" routerLink = "home" href="#">Home Page</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
        <li class="nav-item active">
          <a class="nav-link text-white" routerLink = "addbook" routerLinkActive = "active" href="#">Add Items <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink = "booklist" href="#">Item list</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control mr-2" routerLink = "search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">SearchItem</button>
      </form>
    </div>
  </nav>